.chest--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
    grid-gap: 1rem;
    justify-items: center;
}
.chest--item > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}
.chest--text {
    margin: 1rem auto 2rem;
}

.leaderboard--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
    grid-gap: 1rem;
    justify-items: center;
}
.leaderboard--item > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}
.leaderboard--text, .gacha--text {
    margin-top: 1rem;
}

.gacha--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
    grid-gap: 1rem;
    justify-items: center;
}
.gacha--item > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.backgrounds--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
    grid-gap: 1rem;
    justify-items: center;
}
.backgrounds--item > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.gamelevel--background--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
    grid-gap: 1rem;
    justify-items: center;
}
.gamelevel--background--item > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.vignette--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(324px, 1fr));
    grid-gap: 1rem;
    justify-items: center;
}
.vignette--item > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.promoart--grid {
    display: grid;
    grid-template-columns: minmax(324px, 1fr);
    grid-gap: 1rem;
    justify-items: center;
}
.promoart--item > img {
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}