.minigame--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px ,1fr));
    justify-items: center;
    grid-row-gap: 1rem;
}

.iterations--grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px ,1fr));
    justify-items: center;
    grid-row-gap: 1rem;
}