/********************************************
 GENERAL
********************************************/

/********************************************
 NAVIGATION
********************************************/

/********************************************
 HEADER / WELCOME
********************************************/

/********************************************
 ABOUT
********************************************/

/********************************************
 PORTFOLIO
********************************************/
#portfolio {
    display: none;
}

/********************************************
 TESTIMONIALS
********************************************/
.mobile-carousel {
    display: none;
}

.testimonials-one, .testimonials-two, .testimonials-three {
    display: none;
}

/********************************************
 CONTACT
********************************************/

/********************************************
 FOOTER
********************************************/