/********************************************
 GENERAL
 #575858
 #4a90e2
 #EBF6FC
********************************************/
body {
    color: #575858;
    font-family: 'Open Sans', 'Arial', sans-serif;
}
#top {
    height: 4rem;
}
.content {
    padding: 2rem 8.25rem;
}
button.btn {
    background-image: linear-gradient(180deg, #F1C401, #F8A609);
    box-shadow: 0 7px 6px -1px #0e2d9222;
    color: #ffffff;
    font-family: 'Oswald', 'Arial', sans-serif;
    text-transform: uppercase;
}
h2, h4, h6 {
    font-family: 'Oswald', 'Arial', sans-serif;
}
h2 {
    font-size: 2.75rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
h4 {
    color: #4a90e2;
    font-size: 1.25rem;
    font-weight: bold;
}
h6 { 
    font-size: 1rem; 
}
hr {
    border: none;
    border-bottom: 2px solid #575858;
    margin: 1.5rem auto;
}
.title {
    align-items: center;
    background-image: linear-gradient(to right, #7CC5FE, #6BA9F0);
    color: #ffffff;
    display: flex;
    height: 4rem;
    justify-content: center;
}

/********************************************
 NAVIGATION
********************************************/
nav {
    background-color: #fafafa;
    box-shadow: 0 2px 2px 0 #1c234c37;
    height: 4rem;
}
.navbar-brand {
    margin-left: 2rem;
}
.logo {
    height: 3rem;
}
nav a {
    color: #575858;
}
nav a:hover {
    color: #4a90e2;
}
.nav-item {
    margin-right: 2rem;
}

/********************************************
 HEADER / WELCOME
********************************************/
header {
    align-items: center;
    background-image: linear-gradient(to right, #7CC5FE, #6BA9F0);
    color: #ffffff;
    display: flex;
    height: 13rem;
    justify-content: center;
    /* margin-top: 4rem; */
    padding: 4rem 4rem;
}
.welcome {
    font-family: 'Oswald', 'Arial', sans-serif;
    font-size: 7rem;
    margin-right: 56px;
    text-align: right;
    text-transform: uppercase;
}
.welcome-text {
    border-left: 4px solid #ffffff;
    font-size: 1.75rem;
    line-height: 2.25rem;
    padding-left: 56px;
}
.illustration {
    background-color: #EBF6FC;
    height: 36rem;
}
.scroll {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 4rem;
    justify-content: center;
}

/********************************************
 ABOUT
********************************************/
.about-me {
    background-color: #EBF6FC;
    display: flex;
    justify-content: center;
}
.profile-pic {
    align-self: center;
    border: 8px solid #ffffff;
    border-radius: 50%;
    height: 18rem;
    width: 18rem;
}
.about-text {
    padding: 0 2.5rem;
}
.heading {
    display: flex;
    justify-content: space-between;
}
.cv-btn {
    border-radius: 34px;
    font-size: 1.5rem;
    min-width: 12rem;
    padding: 0.5rem 1rem;
    width: 12rem;
}
.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.skill {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 30%;
}
.skill-icon {
    align-self: center;
    margin-bottom: 1rem;
}
.skill-text {
    padding: 1rem 0;
}

/********************************************
 FOOTER
********************************************/
footer {
    align-items: center;
    background-image: linear-gradient(to right, #7CC5FE, #6BA9F0);
    color: #ffffff;
    display: flex;
    height: 2.5rem;
    justify-content: space-between;
    padding: 0 8.25rem;
}
.copyright {
    font-size: 0.75rem;
}
footer a {
    color: #ffffff;
}
footer a:hover {
    color: #ffffff;
    text-decoration: none;
}