/********************************************
 GENERAL
 #575858
 #4a90e2
 #EBF6FC
********************************************/
body {
    color: #575858;
    font-family: 'Open Sans', 'Arial', sans-serif;
}
#top {
    height: 4rem;
}
.content {
    padding: 2rem 8.25rem;
}
.width-blocker {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 1450px !important;
}
.width-blocker-hungrybabies {
    margin-left: auto;
    margin-right: auto;
    max-width: 1180px;
}

.large-center-fix {
    display: flex;
    align-items: center;
    justify-content: center;
}

button.btn {
    background-image: linear-gradient(180deg, #ff755a, #ff595a);
    /* background-image: linear-gradient(180deg, #F1C401, #F8A609); */
    box-shadow: 0 7px 6px -1px #0e2d9222;
    color: #ffffff;
    font-family: 'Oswald', 'Arial', sans-serif;
    text-transform: uppercase;
}
button.btn:hover {
    color: #ffffff;
    transform: translate(-0.2rem, -0.2rem);
}
h2, h3, h4, h5, h6 {
    font-family: 'Oswald', 'Arial', sans-serif;
}
h2 {
    font-size: 2.75rem;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}
h3 {
    font-size: 2.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
    text-transform: uppercase;
}
h4, .testimonial-name {
    color: #4a90e2;
    font-size: 1.25rem;
    font-weight: bold;
}
h5 {
    font-size: 1.25rem;
    font-weight: bold;
}
h6 { 
    font-size: 1rem;
}
hr {
    border: none;
    border-bottom: 2px solid #575858;
    margin: 1.5rem auto;
}
hr.portfolio-divider {
    border: none;
    border-bottom: 2px solid #57585815;
    margin: 1rem 8.25rem 2rem;
}
hr.portfolio-divider-full {
    border: none;
    border-bottom: 2px solid #57585815;
    margin: 1rem auto 2rem;
}

.title {
    align-items: center;
    background-image: linear-gradient(to right, #7CC5FE, #6BA9F0);
    color: #ffffff;
    display: flex;
    height: 4rem;
    justify-content: center;
}
.bg-light {
    background-color: #EEFBFF;
}
.hide {
    display: none;
}
.only-mobile {
    display: none;
}

.skill--text {
    max-width: 500px;
    padding-right: 1rem;

    align-self: center;
}

.evertown--about {
    min-width: 200px;
    max-width: 400px;
}

.evertown--mocks {
    max-height: 940px;
}

.logo-space {
    margin-right: 4rem;
}

/********************************************
 NAVIGATION
********************************************/
nav {
    background-color: #fafafa;
    box-shadow: 0 2px 2px 0 #1c234c37;
    height: 4rem;
}
.navbar-brand {
    margin-left: 2rem;
    margin-right: 0;
}
.logo {
    height: 2.5rem;
    border-right: 3px solid #5d9deb;
    padding-right: 2rem;
}
.social-icons {
    padding-left: 2rem;
}
.social-icon, 
    .social-icon-play {
        margin: 0 9px;
    }
.social-icon:hover {
    transform: translate(-0.2rem, -0.2rem);
    text-decoration: none;
}
nav a {
    color: #575858;
    text-transform: uppercase;
}
nav a:hover {
    color: #4a90e2;
}
.nav-link {
    height: 4rem;
    line-height: 3rem;
}
.nav-item {
    margin-right: 2rem;
}
.nav-link.active {
    color: #4a90e2;
    font-weight: bold;
    border-bottom: 5px solid #4a90e2;
    transition: 0.3s ease;
}

/********************************************
 HEADER / WELCOME
********************************************/
header {
    align-items: center;
    background-image: linear-gradient(to right, #7CC5FE, #6BA9F0);
    color: #ffffff;
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
}
.welcome {
    font-family: 'Oswald', 'Arial', sans-serif;
    font-size: 7rem;
    line-height: 7rem;
    margin-right: 56px;
    text-align: right;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.divider {
    background-color: #ffffff;
    height: 7rem;
    width: 4px;
}
.welcome-text {
    font-size: 1.75rem;
    line-height: 2.25rem;
    padding-left: 56px;
    margin: 0;
}
.inside-text {
    display: block;
}
.illustration {
    display: flex;
    justify-content: center;
    margin: 1.5rem 2rem 0;
}
.illustration-image {
    width: 85%;
}
.scroll {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 1rem;
    justify-content: center;
    margin-bottom: 2rem;
}

/********************************************
 ABOUT
********************************************/
.bg-lightblue {
    background-color: #EBF6FC;
}
.about-me {
    display: flex;
    justify-content: center;
}
.profile-pic {
    align-self: center;
    border: 2px solid #4a90e2;
    border-radius: 50%;
    box-shadow: 0 1px 8px 0 #7D81CE50;
    height: 18rem;
    width: 18rem;
}
.about-text {
    padding: 0 2.5rem;
}
.heading {
    display: flex;
    justify-content: space-between;
}
.cv-btn {
    border-radius: 9px;
    font-size: 1.5rem;
    min-width: 12rem;
    padding: 0.5rem 1rem;
    width: 12rem;
}
.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skill {
    display: flex;
    flex-direction: column;
    width: 30%;
}
.skill-icon {
    align-self: center;
    margin-bottom: 1rem;
    height: 140px;
    width: 140px;
}
.skill-image {
    object-fit: contain;
    height: 100%;
    width: 100%;
}
.skill-title {
    font-size: 1.25rem;
    text-transform: none;
}
.skill-text {
    padding: 1rem 0;
}

/********************************************
 PORTFOLIO
********************************************/
.project {
    background-color: #EBF6FC;
    border: none;
    border-radius: 10px;
    box-shadow: 0 5px 9px -1px #0e2d9222;
    height: 384px;
    margin: 1rem 0;
}
.portfolio-content{
    padding: 0.5rem 8.25rem 2rem;
}
.nav-pills {
    justify-content: center;
    margin-left: 8.25rem;
    margin-right: 8.25rem;
}
.nav-pills .nav-link {
    background-color: transparent;
    border-radius: 0;
    color: #575858;
    text-transform: uppercase;
}
.nav-pills .nav-link.active {
    background-color: transparent;
    border-bottom: 5px solid #4a90e2;
    border-radius: 0;
    color: #4a90e2;
}
.nav-pills .nav-link:hover {
    border-bottom: 5px solid #4a90e250;
    color: #4a90e2;
}
.button-div {
    margin: 1.5rem auto 0.5rem;
}
.see-more-btn {
    background-color: #ffffff;
    border: 2px solid #4a90e2;
    border-radius: 9px;
    color: #4a90e2;
    min-width: 8rem;
    text-transform: uppercase;
    padding: 0.5rem 2rem;
    width: 10rem;
}
.see-more-btn:hover {
    background-color: #4a90e2;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}
figure {
    background-size: 100%; 
    background-position: center;
    border-radius: 9px;
    box-shadow: 0 3 4 0 #242E3C50;
    height: 384px;
    position: relative;
}
figure:hover, 
    .personal-content-img:hover {
        background-size: 125%;
        transition: 1s;
    }
.project-preview-item {
    border-radius: 9px;
    box-shadow: 0 3 4 0 #242E3C50;
    object-fit: cover;
    height: 24rem;
    width: 100%;
}
figcaption {
    align-items: center;
    background-color: #4A90E280;
    border-radius: 0 0 9px 9px;
    color: #ffffff;
    display: flex;
    font-family: 'Oswald', 'Arial', sans-serif;
    font-size: 1.5rem;
    height: 5rem;
    justify-content: center;
    text-align: center;
    position: absolute;
        bottom: 0;
    width: 100%;
}
.task-div {
    max-width: 780px;
}
.bustamove-about {
    max-width: 50%;
}

/********************************************
 TESTIMONIALS
********************************************/
.carousel-container {
    height: 38rem;
    margin: 2rem auto;
    position: relative;
    width: 30rem;
}
.testimonial-carousel {
    height: 32rem;
    position: relative;
    width: 100%;
}
.responsive-carousel {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 1450px !important;
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.quote-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.quote-img {
    align-self: center;
    background-size: 100%;
    border: 2px solid #4a90e2;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
}
.referee {
    align-self: center;
    padding: 1rem 1rem 0.5rem;
    text-align: center;
}
.job-title {
    color: #57585850;
    font-family: 'Open Sans', 'Arial', sans-serif;
    font-weight: 600;
}
.quote.left {
    transform: translate(calc(-150%, - 12rem), -50%) scale(0.6);
    -webkit-transform: translate(calc(-150% - 12em), -50%) scale(.6);
}
.quote-card {
    display: flex;
    flex-direction: column;
    height: 32.5rem;
}
.quote-text {
    padding: 1.5rem;
}
.slick-dots {
    position: unset;
    margin-top: 0.75rem;
}
.slick-dots li button::before {
    color: #4a90e2;
    font-size: 2rem;
}
.slick-dots li.slick-active button::before {
    color: #4a90e2;
    font-size: 2rem;
}

.mobile-testimonial {
    display: none;
}

/********************************************
 CONTACT
********************************************/
#contact {
    display: grid;
}
.contact {
    display: flex;
    flex-direction: column;
    padding: 8rem 5rem;
    text-align: center;
    width: 100%;
}
.illustration-contact, .contact {
    grid-column: 1;
    grid-row: 1;
}
.illustration-contact {
    width: 100%;
}
.contact-header {
    font-size: 3.5rem;
    line-height: 3.5rem;
    margin: 0 auto;
}
.contact-btn {
    align-items: center;
    align-self: center;
    border-radius: 9px;
    font-size: 3rem;
    min-width: 21.5rem;
    padding: 1rem;
    width: 28rem;
    display: flex;
    justify-content: space-around;
}
.contact-text {
    font-size: 1.7rem;
    margin: 1rem auto;
    text-align: center;
}
.contact-mobile {
    display: none;
}

/********************************************
 FOOTER
********************************************/
footer {
    align-items: center;
    display: flex;
    height: 3rem;
    justify-content: space-between;
    padding: 0 8.25rem;
    width: 100%;
    z-index: 3;
}
.copyright {
    font-size: 0.75rem;
}
footer a {
    color: #4a90e2;
}
footer a:hover {
    color: #4a90e2;
    text-decoration: none;
}
.icon-space {
    margin-right: 0.5rem;
}

/********************************************
 PORTFOLIO
********************************************/
#personal-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-gap: 1rem;
    justify-items: center;
    text-align: center;
}
.personal-content-img {
    background-size: 100%;
    background-position: center;
    border-radius: 5px;
    box-shadow: 0 1 2 0 #38519650;
    height: 250px;
    width: 100%;
}
.personal-content-img-zoomed {
    background-size: 120%;
    background-position: center;
    border-radius: 5px;
    box-shadow: 0 1 2 0 #38519650;
    height: 250px;
    width: 100%;
}
.personal-content-img-zoomed:hover {
    background-size: 140%;
    transition: 1s;
}
.padding-side {
    padding-left: 8.25rem;
    padding-right: 8.25rem;
}
.padding-right {
    padding-right: 1rem;
}
.project-section {
    display: flex;
}
.project-grid {
    align-items: center;
    display: grid;
    grid-gap: 0.2rem;
}
.project-grid-two {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.2rem;
}
.project-grid-three {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.2rem;
}
.project-grid-four {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0.2rem;
}
.animation-assets {
    height: 18.75rem;
}
.animation-div {
    height: 28.5rem;
    margin: 1rem 2rem;
    width: 23.5rem;
}
.animation {
    width: 100%;
}
.content-center {
    align-items: center;
    justify-content: center;
}
.content-wrap {
    flex-wrap: wrap;
}
.content-column {
    flex-direction: column;
}
.img-gap {
    margin: 0.5rem;
}
.img-gap-horizontal {
    margin: 0.5rem auto;
}
.padding-top {
    padding-top: 4rem;
}
.cocreator-link {
    color: #4a90e2;
}
.cocreator-link:hover {
    color: #4a90e2;
    font-weight: bold;
    text-decoration: none;
}
.live-link-button {
    color: color: #4a90e2;
    background-color: transparent;
    border: 2px solid #4a90e2;
    border-radius: 9px;
    display: flex;
    margin: 1rem 0.5rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    width: 11rem;
}
.live-link-button:hover {
    border: 3px solid #4a90e2;
    font-weight: bold;
    text-decoration: none;
}

/********************************************
 COMING SOON
********************************************/
#coming-soon {
    height: calc(100vh - 112px);
    width: 100%;

    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-image: linear-gradient(to right, #7CC5FE, #6BA9F0);
    color: #ffffff;
}

.loader {
    align-items: center;
    display: flex;
    justify-content: center;

    height: 2rem;
    margin-top: 2rem;
}
.loader > span {
    background-color: #ffffff;
    border-radius: 50%;
    display: inline-block;
    height: 0.75rem;
    margin: 0 10px;
    width: 0.75rem;

    transform: translate3d(0);
    animation: bounce 0.5s infinite alternate;
}

.loader > span:nth-child(2) {
    animation-delay: 0.15s;
}

.loader > span:nth-child(3) {
    animation-delay: 0.25s;
}

@keyframes bounce {
    to {
        transform: translate3d(0, -1rem, 0);
    }
}

/********************************************
 MODAL
********************************************/
#modal {
    background-color: #393D4990;
    display: none;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
} 
#modal.active {
    align-items: center;
    display: flex;
    justify-content: center;
}
.personal-content-img {
    cursor: pointer;
}
.close {
    color: #ffffff;
    font-size: 40px;
    font-weight: bold;
    position: absolute;
        top: 5rem;
        right: 5rem;
}
.close:hover,
  .close:focus {
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
  }
.zoomed-image {
    border-radius: 9px;
    height: 750px;
    object-fit: cover;
    max-width: 90%;
}